*~
*.pyc
/secret.txt
/secret.file
testsuite/*
.vscode
/cgal/
/cgal.tar.gz
/testresults/installation*.log
/testresults/list_test_packages
/testresults/package_installation*.log
/testresults/ctest*.log
/testresults/*.log
/testresults/CGAL*.tar.*
